html, body {
	margin: 1;
	padding: 1;
	background:rgb(67,166,53);
	font-family: 'QuickSand', sans-serif;
}
#inputFields {
	color: white;
}
#inputFields input {
	position: absolute;
	left: 125px;
}
#inputFields select {
	position: absolute;
	left: 125px;
}
#inputFields #submit{
	width:5%;
}
.errors{
	color:#FFAAAA;
	position: absolute;
	left: 238px;
}